body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.graph {
  --graph-width: 100%;
  overflow: visible;
  &_wrapper_svg {
    position: relative;
    margin: 2rem auto 1rem;
  }
  
  &_grid{
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  &_labels {
    font-size: 13px;
    text-anchor: end;
    
    .label-title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      fill: black;
      text-anchor: middle;
    }
    
    &--x {
      text {
        transform: rotate(0 0 -45deg);
        transform-origin: 100;
      }
    }
    
    &--y {
      text {transform: translateY(.325em);}
      .label-title {text-anchor: end;}
    }
    
    
  }
  
  &_data {
    --graph-color: #00808B;


    circle {
      cursor: pointer; // triggers tooltips
      fill: var(--graph-color);
      stroke-width: 15; // extend interactive area
      stroke: transparent;
      border-radius: 50%; // for the lucky ppl who use firefox

      &[aria-labelledby*="visitors"] {
        --graph-color: rgb(116, 214, 116);
      }
      
      &:focus {
        outline: 2px solid var(--graph-color);
      }
    }
    polyline {
      fill: none;
      stroke-width: 2; 
      stroke: var(--graph-color);
      animation: drawLine 1s ease-out forwards;
      transition: 0.2s;

      &[aria-label="visitors"] {
        --graph-color: rgb(116, 214, 116);
      }
    }

    path {
      cursor: pointer; // triggers tooltips
      // fill: var(--graph-color);
      stroke-width: .01px; // extend interactive area
      stroke: #fff;
      
      &:focus,
      &:hover {
        outline: none; // absolutely impossible to make it look right
        opacity: .6;
      }
    }
  }
  &_tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 31, 36, .85);
    color: #fff;
    padding: .5rem calc(.5rem + 15px) .5rem .5rem;
    clip-path: polygon(calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%, 0% 0%);
    min-width: 5rem;
    margin-left: calc(var(--translate-left) * 1px);
    margin-top: calc(var(--translate-top) * 1px);
    z-index: -1;

    &[data-side="left"] {
      top: var(--y);
      left: var(--x);
    }
    
    &[data-side="right"] {
      top: var(--y);
      right: calc(100% - var(--x));
    }
    
    p {
      margin: 0;
      font-weight: bold;

      &:first-of-type {
        font-weight: normal;
        margin-bottom: .3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .8rem;
      }
    }

    &.is-active {
      display: block;
      z-index: 3;
    }
  }

  &_legend {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    &_label {
      grid-column: span 2;
      font-size: .85rem;
      display: flex;
      margin-bottom: .25rem;
      margin-top: 1rem;

      p {
        margin: 0;
        &:nth-child(2) {
          margin-left: auto;
          opacity: .65;
        }
      }
    }
    .meter {
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, .05);
      border: 1px solid rgba(0, 0, 0, .1);
      border-radius: 10px;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        width: calc(var(--data-percentage, 0) * 1%);
        height: 10px;
        background-color: var(--data-color, #000);
      }
    }
    button {
      width: 1.5rem;
      appearance: none;
      border: none;
      background: transparent;
      padding: .15rem;
      margin: 0 0 0 1rem;
      cursor: pointer;
    }
  }
  
  &_table {
    margin: 0 auto;
    width: var(--graph-width);
    td, th {
      padding: .5rem;
      text-align: left;
    }
    tbody tr:nth-of-type(odd) {
      background-color: #f2f2f2;
    }
  }
  
  &_toggle {
    font: inherit;
    position: absolute;
    top: -1rem;
    right: 0;
    border: 0;
    padding: .5rem;
    background-color: transparentize(#00808B, .8);
    cursor: pointer;
  }
}



.is-compact {
  .graph_wrapper_legend {
    text-align: center;
  }

  .graph_legend {
    display: inline-flex;
    align-content: center;
    margin: 0 .5rem .5rem 0;
    position: relative;

    &_label {
      margin: 0;

      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        height: 1em;
        margin: auto .25rem;
        background-color: var(--data-color, #000);
        border-radius: 50%;
      }
    }

    button {
      font-size: 1rem;
      margin-left: .2rem;
      opacity: .5;
      > * {
        vertical-align: middle;
        width: 1em;
        height: 1em;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

[data-toggle-state="false"] {display: none;}

@keyframes drawLine {
  from {
    stroke-dashoffset: var(--stroke-size);
  }
  to {
    stroke-dashoffset: 0;
  }
}