body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph {
  --graph-width: 100%;
  &_wrapper {
    position: relative;
    margin: 2rem auto;
  }
  
  &_grid{
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  &_labels {
    font-size: 13px;
    text-anchor: end;
    
    .label-title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      fill: black;
      text-anchor: middle;
    }
    
    &--x {
      text {
        transform: rotate(0 0 -45deg);
        transform-origin: 100;
      }
    }
    
    &--y {
      text {transform: translateY(.325em);}
      .label-title {text-anchor: end;}
    }
    
    
  }
  
  &_data {
    circle {
      cursor: pointer; // triggers tooltips
      fill: #00808B;
      stroke-width: 15; // extend interactive area
      stroke: transparent;
      border-radius: 50%; // for the lucky ppl who use firefox
      
      &:focus {
        outline: 2px solid #00808B;
      }
    }
    polyline {
      fill: none;
      stroke-width: 2; 
      stroke: #00808B;
      animation: drawLine 1s ease-out forwards;
    }
  }
  
  &_tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 31, 36, .85);
    color: #fff;
    padding: .5rem calc(.5rem + 15px) .5rem .5rem;
    clip-path: polygon(calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 0% 100%, 0% 0%);
    min-width: 5rem;
    
    p {
      margin: 0;
      font-weight: bold;

      &:first-of-type {
        font-weight: normal;
        margin-bottom: .3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .8rem;
      }
    }

    &.is-active {
      display: block;
      z-index: 3;
    }
  }
  
  &_table {
    margin: 0 auto;
    width: var(--graph-width);
    td, th {
      padding: .5rem;
      text-align: left;
    }
    tbody tr:nth-of-type(odd) {
      background-color: #f2f2f2;
    }
  }
  
  &_toggle {
    font: inherit;
    position: absolute;
    top: -1rem;
    right: 0;
    border: 0;
    padding: .5rem;
    background-color: transparentize(#00808B, .8);
    cursor: pointer;
  }
}

[data-toggle-state="false"] {display: none;}

@keyframes drawLine {
  from {
    stroke-dashoffset: var(--stroke-size);
  }
  to {
    stroke-dashoffset: 0;
  }
}